
@media  (min-width: 320px)  {
    body {
        padding: 0;
        background-color: black;
        margin: 0;
        /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        position: relative;
        
    }
    html, body {
        height: 100%;
    }
    .container {
        min-height: 100%;
        position: relative;
    }
    body, h1, h2, h3, p, div {
        margin: 0;
        padding: 0;
    }
    
    .menu-icon-img img {
        width: 46px;
    }
   
     .menu-icon-img {   width: 38px}
    
    
     .navbar {
    box-shadow: -1px 1px 14px 0px #00bFF0;
    background-color: #000 !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1030;
     }
     .navbar-name {
        /* font-family: cinzel; */
        font-size: 1rem;
        color: #F23580;
    }
     .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: #000;/* border-color: rgba(255,255,255,.1); */
     }
     .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 1.1rem;
    color:#6e7175; /* Default link color */
    transition: color 0.3s; /* Add a smooth transition for color change */
     }
     .navbar-nav .nav-item .nav-link:hover {
    color: #00BFF0; /* Change the color to your desired hover color */
     }
     .navbar-dark .navbar-nav .nav-item.active .nav-link {
        color: #F23580; /* Change this to the desired color */
    }
    .collapse.navbar-collapse.ml-auto {
        justify-content: right;
    }
    

     .row {
        margin-right: 0px;
        margin-left: 0px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

.jumbotron-content {
    margin-top: 28%;
    position: relative;
    z-index: 1;
}
/* Specific styles for the top row */

 /* General styles for other rows */
 

.img-1 {
    z-index: 4;
}

img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the image's aspect ratio */
}

.jumbotron-overlay {
    width: 100%;
    position: absolute;
    top: 0px;
    /* left: 50%; */
    /* transform: translate(-50%, -106%); */
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px;
}
.jumbotron-title {
    font-weight: 500;
    font-family: 'Verdana Pro', sans-serif;
    font-size: 1.2rem;
    color: white;
}

.jumbotron-text {
    color: #00BFF0;
    font-size: 1rem;
}

.jumbotron-content {
      position: relative;
    z-index: 1;
}
/* Your existing jumbotron styles remain the same */

/* Style for the content inside the glass border */

.col-md-6 {
    padding: 2%;
}

.zoom-on-hover {
    margin-top: 22%;
    /* padding-top: 45%; */
    /* padding: 6%; */
    transition: transform 0.2s ease-in-out;
}

   

    .project-text {
        /* margin-right: auto; */
        padding-right: 2%;
        /* margin-left: auto; */
        padding: 6%;
        color: white;
        position: absolute;
        top: 59px;
    }
    .project-text video {
        margin-left: 10%;
        margin-top: -65px;
        width: 80%;
    }
    .project-text p {
        font-size: .85rem;
 
    }
    .project-text img {
     
            padding-left: 6%;
            /* display: initial; */
            justify-content: center;
            /* margin-left: auto; */
            /* width: 57%; */
            padding-top: 10%;
        }
    
        .glass-border.d-flex {
            padding-bottom: 6%;
            margin-top: -42px;
        }
        .h1, h1 {
            padding: 8%;
            margin-left: auto;
            margin-right: auto;
            color: #F23580;
            font-size: 2rem;
            font-weight: 500;
            text-align: center;
        }
.h2, h2 {
    font-family: cinzel;
    text-align: center;
    font-size: 1.2rem;
    color: #F23580;
}
    .resume-title {

            font-size: 2rem;
            color:#F23580;
            text-align: center;
       
    }
    .resume button {
        border-radius: 16px;
      
        color: white;
        background-color: #F23580;
        /* color: black; */
    }
    a {
        font-weight: 500;
        color: white;
        text-decoration: none;
        background-color: transparent;
    }
    .btn {
        margin-top: 18%;
        color: #fff;
        background-color: #f23580;
        border-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem .75rem;
        font-size: 1rem;
        line-height: 1.;
        border-radius: 5.25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

 
    .border-image {
        padding-bottom: 137%;
        height: 134%;
    }


/* Add this rule to make the remaining column take full width */
.remaining-column {
    width: 100%;
}



.gem-section {
    margin-top: -329px;
    position: relative;
    z-index: -1;
}
.about-img {
   
        margin-right: auto;
        margin-left: auto;
        width: 60%;
    
}

.about-section-text {
    /* margin-left: -50px; */
    width: 100%;
    font-size: 1rem;
    border-radius: 16px;
    padding: 5%;
    background-color: white;
}

#contact {
    background-color: black; /* Set background color */
    padding: 40px; /* Add some padding to the section */
    
    color: white; /* Set text color */
}

#contact h2 {
    color:#F23580; /* Set heading color */
}

#contact .text-field {
    margin-bottom: 20px; /* Add margin to the text field */
}

#contact form {
    max-width: 600px; /* Set the maximum width of the form */
    margin: 0 auto; /* Center-align the form */
}

#contact form label {
    display: block; /* Display labels as block elements */
    margin-bottom: 8px; /* Add margin to labels */
}

#contact form input,
#contact form textarea {
    width: 100%; /* Make input fields and textarea take up 100% width */
    padding: 8px; /* Add padding to input fields and textarea */
    margin-bottom: 16px; /* Add margin to input fields and textarea */
}

#contact form button {
    padding: 1%;
    width: 100%;
    border-radius: 5.25rem;
    background-color: #F23580;
    color: #fff;
    border: none;
    /* padding: 10px 20px; */
    cursor: pointer;}

#contact form button:hover {
    background-color: white; /* Set button background color on hover */
}

.footer {
    position: absolute;
    width: 100%;
    background-color: black;
    color: #F23580;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    box-shadow: 0px 7px 58px 20px #00bff0ad;
}


/* Style for the left-side links */
.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Style for individual links */
.footer-links a {
    color: #F23580;
    text-decoration: none;
    margin-right: 20px;
    transition: text-decoration 0.3s; /* Add a smooth transition effect */
}
.footer-links a:hover {
    text-decoration: underline; /* Underline the link on hover */
    color: #00BFF0; /* Change the link color on hover */
}
/* Style for the image on the right side */
.footer-image {
    max-width: 180px;
}
.footer-image p {
    color: grey;
    font-size: 12px;
  
}

}
 
 @media  (min-width:576px)   {
 

.jumbotron {
    /* margin-top: -100px; */
    background-color: #000;
}
.jumbotron-content {
    margin-top: 12%;
    position: relative;
    z-index: 1;
}
.jumbotron-overlay {
    width: 100%;
    position: absolute;
    
    /* left: 50%; */
    /* transform: translate(-50%, -106%); */
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px;
}
.jumbotron-title {
    margin-top: 4%;
    font-weight: 200;
    font-family: 'Verdana Pro', sans-serif;
    font-size: 2rem;
    color: white;
}
.h2, h2 {
    font-family: cinzel;
    text-align: center;
    font-size: 2rem;
    color: #F23580;
}

.border-image {
    padding-bottom: 10px;
    width: 100%;
    margin-left: auto;
    /* padding-bottom: 20px; */
    height: 86%;
}
.border-image-container {
    margin-top: -10px;
}


.border-image-container {
    width: 100%;
    height: 1340px;
}
       

.project-text img {
    padding-right: 6%;
    width: 100%;
    padding-bottom: 6%;
    padding-left: 6%;
    /* display: initial; */
    justify-content: center;
    /* margin-left: auto; */
    /* width: 57%; */
    padding-top: 10%;
}


     
     
       
     
        .project-title {
            font-size: 1.4rem;
            font-weight: 500;
            text-align: center;
            color: #F23580;
        }
        .project-text {
            /* margin-right: auto; */
            /* font-weight: 200; */
            padding-right: 2%;
            /* margin-left: auto; */
            /* font-size: 1.1rem; */
            padding: 10%;
            /* color: white; */
            /* padding: 20px; */
            /* margin-top: 2%; */
            position: absolute;
            /* top: 28px; */
            /* left: 20px; */
        }
        .project-text p {
            font-family: sans-serif;
            font-size: 1.1rem;
        }
        .project-text video {
            margin-top: 2%;
            /* width: 100%; */
            margin-left: 0%;
        }
     
        .resume-title {
          color: #F23580;
                font-weight: 500;
                font-size: 1.6rem;
                text-align: center;
            }
        
      
       
        .col-md-6 .zoom-on-hover {
       
    padding-bottom: 10%;
    }
    
    .resume-image {
        border-radius: 16px;
    }
    .about-section-title{
       color: #F23580;
            font-weight: 500;
            font-size: 1.3rem;
      
    }
   
   
    

}
    
        
    
     @media (min-width:768px)  {
      
        .project-text img {
            width: 45%;
            padding-bottom: 6%;
            padding-left: 6%;
            /* display: initial; */
            justify-content: center;
            /* margin-left: auto; */
            /* width: 57%; */
            padding-top: 10%;
        }
        .border-image {
            padding-bottom: 667px;
            height: 146%;
        }
        .project-text video {
            padding-bottom: 6%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 2%;
            /* width: 100%; */
            /* margin-left: 0%; */
        }
        .img-1 {
            margin-top: -89px;
            z-index: 4;
        }
        .about-section-text {
            margin-left: auto;
          
            font-size: 1rem;
            border-radius: 16px;
            padding: 5%;
            background-color: white;
        }
         
        .h2, h2 {
            font-family: cinzel;
            text-align: center;
            font-size: 1.4rem;
            color: #F23580;
        }
        .project-text img {
            padding-right: 6%;
            width: 100%;
            padding-bottom: 6%;
            padding-left: 6%;
            /* display: initial; */
            justify-content: center;
            /* margin-left: auto; */
            /* width: 57%; */
            padding-top: 10%;
        }
        .zoom-on-hover {
        margin-top: 2%;
            transition: transform 0.2s ease-in-out;
        }
        
            }
        
        

    @media  (min-width:992px)  {
        body {
            margin: 0;
            /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
          
        
        background-color: black;
        } 
   
      
     
        .menu-icon-img img {
            width: 46px;
        }
    
         .menu-icon-img {   width: 38px}
     
     
         .navbar {
        box-shadow: -1px 1px 14px 0px #00bFF0;
     
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1030;
         }
         .navbar-name {
        /* font-family: cinzel; */
        font-size: 1.2rem;
        color: #F23580;
         }
         .navbar-dark .navbar-toggler {
        color: rgba(255,255,255,.5);
        border-color: #000;/* border-color: rgba(255,255,255,.1); */
         }
         .navbar-nav .nav-item .nav-link {
        font-weight: 500;
        font-size: 1.1rem;
        color:#6e7175; /* Default link color */
        transition: color 0.3s; /* Add a smooth transition for color change */
         }
         .navbar-nav .nav-item .nav-link:hover {
        color: #00BFF0; /* Change the color to your desired hover color */
         }
         .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        justify-content: flex-end;
         }            
  




    
     

.jumbotron {
    margin-top: -100px;
    background-color: #000;
}
.jumbotron-overlay {
    width: 100%;
    position: absolute;
   
    /* left: 50%; */
    /* transform: translate(-50%, -106%); */
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px;
}
.jumbotron-title {
  
    font-weight: 300;
    font-family: 'Verdana Pro', sans-serif;
    font-size: 2.9rem;
    color: white;
}
.jumbotron-text {
    
    color: #00BFF0;
    font-size: 1.1rem;
}

.jumbotron-content {
    margin-top: 10%;
    position: relative;
    z-index: 1;
}
.glass-border.d-flex {
    padding-bottom: 16%;
    margin-top: -52px;
}
.border-image {
    height: 108%;
    padding-bottom: 14%;
}    
.gem-section {
    margin-top: -1132px;
    position: relative;
    z-index: -1;
}
#contact {
    margin-top: 10%;
    background-color: black;
    padding: 40px;
    color: white;
}
.resume {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    padding: 12%;
    margin-top: -1254px;
}

        .project-text img {
            padding: 6%;
            /* padding-right: 4%; */
            padding-left: -2%;
            justify-content: center;
            /* padding-top: 5%; */
            /* padding: 5%; */
        }
        .project-header {
            /* margin-top: -60px; */
            padding-bottom: 8%;
            font-family: 'Verdana Pro', sans-serif;
            /* margin-top: -143px; */
            /* padding-bottom: 20px; */
            font-weight: 500;
            font-size: 1.8rem;
            text-align: center;
            color: #F23580;
        }
        .project-title {
            font-size: 1.4rem;
            font-weight: 500;
            text-align: center;
            color: #F23580;
        }
        .project-text {
            margin-right: auto;
            font-weight: 200;
            padding-right: 2%;
            margin-left: auto;
            font-size: 1.1rem;
            padding: 10%;
            color: white;
            /* padding: 20px; */
            /* margin-top: 2%; */
            position: absolute;
            top: 28px;
            /* left: 20px; */
        }
  
        
        .project-text img {
            width: 100%;
            padding-bottom: 6%;
            padding-left: 6%;
            /* display: initial; */
            justify-content: center;
            /* margin-left: auto; */
            /* width: 57%; */
            padding-top: 10%;
        }
        .resume-title {
          color: #F23580;
                font-weight: 500;
                font-size: 1.6rem;
                text-align: center;
            }
        
      
 
    .img-1 {
        margin-top: -112px;
        /* margin-top: 2%; */
        z-index: 4;
    }
    .about-img {
   
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    
}
    .col-md-6.about-me-col {
        margin-top: 14%;
        border-radius: 16px;
        width: 50%;
        background-color: white;
        /* padding: 4%; */
        font-size: 1.1rem;
        width: 50%;
        background-color: white;
    }
    .about-section-text {
      width: 100%;
        margin-top: 0;
        font-size: 1.1rem;
        border-radius: 1.3rem;
        padding: 5%;
        background-color: white;
    }
    .about-img img{
        width: 100%;
    }  
            .resume-image {
                border-radius: 16px;
            }
     
     
        }
        @media screen and (min-width: 1200px) {
        body {
            margin: 0;
            /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
          
        
        background-color: black;
        } 

     
     
            .menu-icon-img img {
                width: 46px;
            }
            .bg-dark {
                background-color: #000 !important;
            }
             .menu-icon-img {   width: 38px}
         
         
             .navbar {
            box-shadow: -1px 1px 14px 0px #00bFF0;
         
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1030;
             }
             .navbar-brand {
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
             .navbar-name {
            /* font-family: cinzel; */
            font-size: 1.2rem;
            color: #F23580;
             }
             .navbar-dark .navbar-toggler {
            color: rgba(255,255,255,.5);
            border-color: #000;/* border-color: rgba(255,255,255,.1); */
             }
             .navbar-nav .nav-item .nav-link {
            font-weight: 500;
            font-size: 1.1rem;
            color:#6e7175; /* Default link color */
            transition: color 0.3s; /* Add a smooth transition for color change */
             }
             .navbar-nav .nav-item .nav-link:hover {
            color: #00BFF0; /* Change the color to your desired hover color */
             }
             .navbar-expand-lg .navbar-collapse {
            display: -ms-flexbox!important;
            display: flex!important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            justify-content: flex-end;
             }
       
   
       .container {
        min-height: 100%;
        position: relative;
    }
        .row.about-me.zoom-on-hover {
            padding: 0%;
        }
        .jumbotron-content {
            position: relative;
            z-index: 1;
          
        }
        .img-1 {
            z-index: 4;
            margin-top: -150px;
        }
        
        img {
            max-width: 100%; /* Ensure the image doesn't exceed its container width */
            height: auto; /* Maintain the image's aspect ratio */
        }
        .jumbotron {
            /* margin-top: -100px; */
            background-color: #000;
        }
     
        .jumbotron-overlay {
            width: 100%;
            position: absolute;
            top: 10%;
            /* left: 50%; */
            /* transform: translate(-50%, -106%); */
            text-align: center;
            color: white;
            /* background-color: rgba(0, 0, 0, 0.5); */
            padding: 20px;
        }
        .jumbotron-title {
            margin-top: 3%;
            font-weight: 200;
            font-family: 'Verdana Pro', sans-serif;
            font-size: 3.2rem;
            color: white;
        }
        .jumbotron-text {
            color: #00BFF0;
            font-size: 1.75rem;
        }
        .border-image {
            width: 110%;
            height: 80%;
            /* padding-bottom: 14%; */
        }
        .glass-border.d-flex {
            /* padding-bottom: 6%; */
            margin-top: -42px;
        }
       
        /* Your existing jumbotron styles remain the same */
        
        /* Style for the content inside the glass border */
     
        .zoom-on-hover {
            transition: transform 0.2s ease-in-out; /* Smooth transition on hover */
        }
        
        .zoom-on-hover:hover {
            transform: scale(1.1); /* Increase the size on hover (zoom) */
        }
      
      
        .project-header {
            font-weight: 500;
          
            font-size: 3rem;
            text-align: center;
            color: #F23580;
            position: relative;
            z-index: 2;
        }
        .project-text {
            color: white;
            font-weight: 400;
            /* margin-left: auto; */
            /* margin-right: auto; */
            justify-content: center;
            position: absolute;
            /* top: 1%; */
            /* left: 4%; */
            /* width: 93%; */
            padding: 8%;
            /* background: white; */
            font-size: 1.1rem;
        }
        .project-text img {
            width: 100%;
            padding-bottom: 6%;
            padding-left: 6%;
            /* display: initial; */
            justify-content: center;
            /* margin-left: auto; */
            /* width: 57%; */
            padding-top: 10%;
        }
  
      
        .jumbotron-content {
            margin-top: 4%;
            position: relative;
            z-index: 1;
        }
           
           
                .border-image-container {
                    position: relative;
                
                }
        
                /* Default styles for the border image */
             
                /* Styles for the project text */
           
           
          
         
                a {
                    color: white;
                    background-color: transparent;
                }
            
                .resume-title {

                    font-size: 2.6rem;
                    color:#F23580;
                    text-align: center;
               
            }
        
            .gem-section {
                margin-top: -2363px;
                position: relative;
                z-index: -1;
            }
         
           
       
            .col-md-6 {
                padding-right: 3%;
                padding-left: 3%;
               
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
            }
           
                .text-field {
                    padding-bottom: 5%;
                    color: #000;
                    font-size: 1.3rem;
                }
             
                
                .about-section-text {
                    width: 100%;
                    font-size: 1.1rem;
                    border-radius: 16px;
                    padding: 5%;
                    background-color: white;
                }
                .about-section-title {
                    font-size: 3rem;
                    color: #F23580;
                }
                
                .row.resume-section {
                    padding-right: 8%;
                    padding-left: 8%;
                    /* margin-left: auto; */
                    padding-bottom: 26%;
                    /* height: 100%; */
                    margin-top: -905px;
                    /* border-radius: 16px; */
                    /* padding: 5%; */
                    background-color: transparent;
                }
             
                
               
          }
          @media screen and (min-width: 1920px){
            body {
                margin: 0;
                /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                text-align: left;
              
            
            background-color: black;
            } 
    
         
         
                .menu-icon-img img {
                    width: 46px;
                }
                .bg-dark {
                    background-color: #000 !important;
                }
                 .menu-icon-img {   width: 38px}
             
             
                 .navbar {
                box-shadow: -1px 1px 14px 0px #00bFF0;
             
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1030;
                 }
                 .navbar-brand {
        display: inline-block;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
                 .navbar-name {
                /* font-family: cinzel; */
                font-size: 1.2rem;
                color: #F23580;
                 }
                 .navbar-dark .navbar-toggler {
                color: rgba(255,255,255,.5);
                border-color: #000;/* border-color: rgba(255,255,255,.1); */
                 }
                 .navbar-nav .nav-item .nav-link {
                font-weight: 500;
                font-size: 1.1rem;
                color:#6e7175; /* Default link color */
                transition: color 0.3s; /* Add a smooth transition for color change */
                 }
                 .navbar-nav .nav-item .nav-link:hover {
                color: #00BFF0; /* Change the color to your desired hover color */
                 }
                 .navbar-expand-lg .navbar-collapse {
                display: -ms-flexbox!important;
                display: flex!important;
                -ms-flex-preferred-size: auto;
                flex-basis: auto;
                justify-content: flex-end;
                 }
           
       
           .container {
            min-height: 100%;
            position: relative;
        }
            .row.about-me.zoom-on-hover {
                padding: 0%;
            }
            .jumbotron-content {
                position: relative;
                z-index: 1;
              
            }
            .img-1 {
                z-index: 4;
                margin-top: -150px;
            }
            
            img {
                max-width: 100%; /* Ensure the image doesn't exceed its container width */
                height: auto; /* Maintain the image's aspect ratio */
            }
            .jumbotron {
                /* margin-top: -100px; */
                background-color: #000;
            }
         
            .jumbotron-overlay {
                width: 100%;
                position: absolute;
                top: 10%;
                /* left: 50%; */
                /* transform: translate(-50%, -106%); */
                text-align: center;
                color: white;
                /* background-color: rgba(0, 0, 0, 0.5); */
                padding: 20px;
            }
            .jumbotron-title {
                margin-top: 3%;
                font-weight: 200;
                font-family: 'Verdana Pro', sans-serif;
                font-size: 3.2rem;
                color: white;
            }
            .jumbotron-text {
                color: #00BFF0;
                font-size: 1.75rem;
            }
            .border-image {
                width: 110%;
                height: 80%;
                /* padding-bottom: 14%; */
            }
            .glass-border.d-flex {
                /* padding-bottom: 6%; */
                margin-top: -42px;
            }
           
            /* Your existing jumbotron styles remain the same */
            
            /* Style for the content inside the glass border */
         
            .zoom-on-hover {
                transition: transform 0.2s ease-in-out; /* Smooth transition on hover */
            }
            
            .zoom-on-hover:hover {
                transform: scale(1.1); /* Increase the size on hover (zoom) */
            }
          
          
            .project-header {
                font-weight: 500;
              
                font-size: 3rem;
                text-align: center;
                color: #F23580;
                position: relative;
                z-index: 2;
            }
            .project-text {
                color: white;
                font-weight: 400;
                /* margin-left: auto; */
                /* margin-right: auto; */
                justify-content: center;
                position: absolute;
                /* top: 1%; */
                /* left: 4%; */
                /* width: 93%; */
                padding: 8%;
                /* background: white; */
                font-size: 1.1rem;
            }
            .project-text img {
                width: 100%;
                padding-bottom: 6%;
                padding-left: 6%;
                /* display: initial; */
                justify-content: center;
                /* margin-left: auto; */
                /* width: 57%; */
                padding-top: 10%;
            }
      
          
            .jumbotron-content {
                margin-top: 4%;
                position: relative;
                z-index: 1;
            }
               
               
                    .border-image-container {
                        position: relative;
                    
                    }
            
                    /* Default styles for the border image */
                 
                    /* Styles for the project text */
               
               
              
             
                    a {
                        color: white;
                        background-color: transparent;
                    }
                
                    .resume-title {
    
                        font-size: 2.6rem;
                        color:#F23580;
                        text-align: center;
                   
                }
            
                .gem-section {
                    margin-top: -2363px;
                    position: relative;
                    z-index: -1;
                }
             
               
           
                .col-md-6 {
                    padding-right: 3%;
                    padding-left: 3%;
                   
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                }
               
                    .text-field {
                        padding-bottom: 5%;
                        color: #000;
                        font-size: 1.3rem;
                    }
                 
                    
                    .about-section-text {
                        width: 100%;
                        font-size: 1.1rem;
                        border-radius: 16px;
                        padding: 5%;
                        background-color: white;
                    }
                    .about-section-title {
                        font-size: 3rem;
                        color: #F23580;
                    }
                    
                    .row.resume-section {
                        padding-right: 8%;
                        padding-left: 8%;
                        /* margin-left: auto; */
                        padding-bottom: 26%;
                        /* height: 100%; */
                        margin-top: -905px;
                        /* border-radius: 16px; */
                        /* padding: 5%; */
                        background-color: transparent;
                    }
                 
                    
                   
              }


          }
            
          
 
   