
@keyframes lights {
    0% {
      color: hsl(230, 40%, 20%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  
  
  h3 {    
    z-index: 1;
       margin-right: auto;
    margin-left: auto; 
    
    animation: lights 5s 750ms linear infinite;
  }

:root {
	--red: hsl(0, 100%, 80%);
	--yellow: hsl(62, 100%, 80%);
	--green: hsl(122, 100%, 80%);
	--blue: hsl(179, 100%, 80%);
	--purple: hsl(238, 100%, 80%);
	--pink: hsl(302, 100%, 80%);
	
	--fontPoppins: 'Poppins', sans-serif;
}

[type=submit], [type=reset], button, html [type=button] {
	-webkit-appearance: button;
	text-transform: none;
}

body {
	background: hsl(0 0% 4%);
	background: hsl(210 14% 11%);
	background: hsl(228 6% 15%);
	padding: 0;
	margin: 0;
}

.glowButtonWrapper {
	position: relative;
	margin: 1.25em auto;
	padding: 0;
	display: table;
	transition: all 150ms linear;
}

.glowButtonWrapper:hover {
	transform: scale(1.15);
}

.glowButtonWrapper:active {
	transform: scale(0.95);
}

.glowButtonWrapper .glowButton {
	--angle: 0deg;
	--buttonBorder: 4px;
	--buttonBorderRadius: 2.25em;
	--buttonBorderRadiusBefore: 3em;
	
	position: relative;
	display: flex;
	padding: 0.875em 2.1em;
	gap: 0.875em;
	font-size: 1em;
	align-items: center;
	border-radius: var(--buttonBorderRadius);
	font-weight: 160;
	border: 0;
	/* overflow: hidden; */
	transition: background 3ms linear;
	
	color: hsl(0, 0%, 98%);
	font-family: sans-serif;
	
	background: hsl(0 0% 0% / 0%);
	
	/* border: 2px solid transparent; */
	box-shadow: 0 0 3px hsl(0 0% 0% / 20%), 
		0 1px 6px hsl(0 0% 0% / 15%), 
		0 4px 8px hsl(0 0% 0% / 13%);
	z-index: 1;
}

.glowButtonWrapper:hover .glowButton {
	transition: background 3ms linear;
	
	background: conic-gradient(
		in hsl longer hue from var(--angle), 
		hsl(0, 100%, 80%) 0 0
	) border-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	box-shadow: 
		0 0 3px hsl(0 35% 80% / 65%), 
		0 1px 6px hsl(60 15% 80% / 50%), 
		0 4px 8px hsl(120 48% 80% / 30%), 
		0 5px 11px hsl(5 20% 80% / 20%);
	
	mix-blend-mode: color-dodge;
	
	animation: angle 2s linear infinite;
}

@property --angle {
	syntax: '<angle>'; 
	initial-value: 0deg;
	inherits: false
}

/* target only Firefox */
@-moz-document url-prefix() {
	.glowButtonWrapper .glowButton {
		transition: all 250ms linear;
		background: transparent;
	}
	
    .glowButtonWrapper:hover .glowButton {
		--angleFX: 0deg;
		/* transition: background 3ms linear; */
		transition: background 3ms linear;
		background:
		conic-gradient(
			from var(--angleFX) at 50% 50%,
			var(--red),
			var(--yellow),
			var(--green),
			var(--blue),
			var(--purple),
			var(--pink),
			var(--red)
		) border-box;
		
		animation: angleFX 2s linear infinite;
    }
}

.glowButtonWrapper .glowButton:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	/*
	width: calc(100% - 7.5px);
	height: calc(100% - 7.5px);
	*/
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	padding: 0;
	
	background: hsl(233 12% 13% / 1) padding-box;
	background:
	linear-gradient(
		to bottom,
		hsl(228 5% 20% / 1),
		hsl(228 4% 25% / 1)
	) padding-box;
	border: 1px solid hsl(210 14% 9% / 60%);
	
	border-radius: var(--buttonBorderRadiusBefore);
	z-index: -1;
}

.glowButtonWrapper:hover .glowButton:before {
	width: calc(100% - 7.2px);
	height: calc(100% - 7.2px);
	
	box-shadow: 0 1px 0px hsl(0 0% 45% / 100%) inset,
		0 0 2px hsl(0 0% 75% / 30%);
		
	background: hsl(0 0% 25% / 90%) padding-box;
	background:
	linear-gradient(
		to bottom,
		hsl(228 5% 20% / 88%),
		hsl(228 4% 25% / 92%)
	) padding-box;
}

@keyframes angle { to { --angle: 1turn; } }

@keyframes angleFX {
	00.00% { --angleFX: 0deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	04.16% { --angleFX: 15deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	08.32% { --angleFX: 30deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	12.48% { --angleFX: 45deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	16.64% { --angleFX: 60deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	20.80% { --angleFX: 75deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	24.96% { --angleFX: 90deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	29.12% { --angleFX: 105deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	33.28% { --angleFX: 120deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	37.44% { --angleFX: 135deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	41.60% { --angleFX: 150deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	45.76% { --angleFX: 165deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	49.92% { --angleFX: 180deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	54.08% { --angleFX: 195deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	58.24% { --angleFX: 210deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	62.40% { --angleFX: 225deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	66.56% { --angleFX: 240deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	70.72% { --angleFX: 255deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	74.88% { --angleFX: 270deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	79.04% { --angleFX: 285deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	83.20% { --angleFX: 300deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	87.36% { --angleFX: 315deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	91.52% { --angleFX: 330deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	95.68% { --angleFX: 345deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	100.0% { --angleFX: 360deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
}


@media  (min-width: 320px)  {
    body {
        padding: 0;
        background-color: black;
        margin: 0;
        /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        position: relative;
   
        
    }
    html, body {
        height: 100%;
    }
    .container {
        min-height: 100%;
        position: relative;
    }
  
    
    .menu-icon-img img {
        width: 46px;
    }
   
     .menu-icon-img {   width: 38px}
    
    
     .navbar {
   
    background-color: #000 !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1030;
     }
     .navbar-name {
        /* font-family: cinzel; */
       
        color: #F23580;
    }
     .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: #000;/* border-color: rgba(255,255,255,.1); */
     }
     .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 1rem;
    color:#6e7175; /* Default link color */
    transition: color 0.3s; /* Add a smooth transition for color change */
     }
     .navbar-nav .nav-item .nav-link:hover {
    color: #00BFF0; /* Change the color to your desired hover color */
     }
     .navbar-dark .navbar-nav .nav-item.active .nav-link {
        color: #F23580; /* Change this to the desired color */
    }
    .hero-container img {
    
     
        width: 100%;
    }

    .row.hero-container p {
        font-weight: 100;
        text-align: center;
        font-size: 2rem;
        color: white;
    }

     .row {
        margin-right: 0px;
        margin-left: 0px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: column;
    }


.img-1 {
    z-index: 4;
}
.img1flat {
    margin-top: -80px;
}


img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain the image's aspect ratio */
}
.pdf_image  {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.hero-container {margin-top: 30%;
    position: relative; /* Make the container relative for positioning */
    width: 100%; /* Ensure the image takes up full width (adjust as needed) */
}




.col-md-12 {
    border-radius: 16px;
  
        margin-right: auto;
        margin-left: auto;
    }
   

        .h1, h1 {
          
        
            margin-left: auto;
            margin-right: auto;
            color: #F23580;
            font-size: 2.6rem;
            font-weight: 500;
            text-align: center;
        }
      
         .resume-title {

            font-size: 2rem;
            color:#F23580;
            text-align: center;
       
    }

    .resume  {
        margin-left: auto;
        margin-right: auto;
    }
    .resume button {
        border-radius: 16px;
      
        color: white;
        background-color: #F23580;
        /* color: black; */
    }
    a {
        font-weight: 500;
        color: white;
        text-decoration: none;
        background-color: transparent;
    }
    .btn {
        margin-top: 18%;
        color: #fff;
        background-color: #f23580;
        border-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem .75rem;
        font-size: 1rem;
        line-height: 1.;
        border-radius: 5.25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

 #About.row {
    margin-top: 10%;
    padding: 0%;
    padding-bottom: 10%;
}
 

/* Add this rule to make the remaining column take full width */
.remaining-column {
    width: 100%;
}



.gem-section {
    /* margin-top: -329px; */
    position: relative;
    z-index: -1;
}
.about-img {
   
        margin-right: auto;
        margin-left: auto;
      
    
}

.about-section-text {
    /* margin-left: -50px; */
    width: 100%;
    font-size: 1rem;
    border-radius: 16px;
    padding: 5%;
    background-color: white;
}
.row button {
    padding: 1%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    background-color: #F23580;
    color: white;
    border-radius: 58px;
}
body {
    font-family: calibri;
    padding: 0;
    margin: 0;
    margin:0 ;
    padding:0 ;
    background-color: black;
  }
  
  
    .loginBox {
        margin: 1% auto 0% auto;
        padding: 165px 54px 22px 80px;
        width: 80%;
        height: 50%;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.5);
    }
  h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    color: #f23580;
  }
  
  .loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
  }
  
  .loginBox input {
    width: 100%;
    height: 20px;
    margin: 0 0 20px 0;
  }
  
  .loginBox input[type="text"],
  .loginBox input[type="password"],
  .loginBox input[type="email"],
  .loginBox input[type="date"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  
  ::placeholder {
    color: white;
    opacity: 0.1;
    text-align: center;
  }
  
  .loginBox input[type="submit"] {
    border: 1px solid;
    height: 40px;
    color: violet;
    background-color: transparent;
  }
  
  .loginBox input[type="submit"]:hover {
    color: pink;
    border: 20px solid;
  }
  
  
  form a {width: 100%;
    color: black;
    text-decoration: none;
  }
  :root {
    --red: hsl(0, 100%, 80%);
    --yellow: hsl(62, 100%, 80%);
    --green: hsl(122, 100%, 80%);
    --blue: hsl(179, 100%, 80%);
    --purple: hsl(238, 100%, 80%);
    --pink: hsl(302, 100%, 80%);
  
    --fontPoppins: "Poppins", sans-serif;
  }
  
  [type="submit"],
  [type="reset"],
  button,
  html [type="button"] {
    -webkit-appearance: button;
    text-transform: none;
  }
  
  .glowButtonWrapper {
    position: relative;
    margin: 1.25em auto;
    padding: 0;
    display: table;
    transition: all 150ms linear;
  }
  
  .glowButtonWrapper:hover {
    transform: scale(1.15);
  }
  
  .glowButtonWrapper:active {
    transform: scale(0.95);
  }
  
  .glowButtonWrapper .glowButton {
    --angle: 0deg;
    --buttonBorder: 4px;
    --buttonBorderRadius: 2.25em;
    --buttonBorderRadiusBefore: 3em;
  
    position: relative;
    display: flex;
    padding: 0.875em 2.1em;
    gap: 0.875em;
    font-size: 1em;
    align-items: center;
    border-radius: var(--buttonBorderRadius);
    font-weight: 160;
    border: 0;
    /* overflow: hidden; */
    transition: background 3ms linear;
  
    color: hsl(0, 0%, 98%);
    font-family: sans-serif;
  
    background: hsl(0 0% 0% / 0%);
  
    /* border: 2px solid transparent; */
    box-shadow: 0 0 3px hsl(0 0% 0% / 20%), 0 1px 6px hsl(0 0% 0% / 15%),
      0 4px 8px hsl(0 0% 0% / 13%);
    z-index: 1;
  }
  
  .glowButtonWrapper:hover .glowButton {
    transition: background 3ms linear;
  
    background: conic-gradient(
        in hsl longer hue from var(--angle),
        hsl(0, 100%, 80%) 0 0
      )
      border-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
    box-shadow: 0 0 3px hsl(0 35% 80% / 65%), 0 1px 6px hsl(60 15% 80% / 50%),
      0 4px 8px hsl(120 48% 80% / 30%), 0 5px 11px hsl(5 20% 80% / 20%);
  
    mix-blend-mode: color-dodge;
  
    animation: angle 2s linear infinite;
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  /* target only Firefox */
  @-moz-document url-prefix() {
    .glowButtonWrapper .glowButton {
      transition: all 250ms linear;
      background: transparent;
    }
  
    .glowButtonWrapper:hover .glowButton {
      --angleFX: 0deg;
      /* transition: background 3ms linear; */
      transition: background 3ms linear;
      background: conic-gradient(
          from var(--angleFX) at 50% 50%,
          var(--red),
          var(--yellow),
          var(--green),
          var(--blue),
          var(--purple),
          var(--pink),
          var(--red)
        )
        border-box;
  
      animation: angleFX 2s linear infinite;
    }
  }
  
  .glowButtonWrapper .glowButton:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    /*
      width: calc(100% - 7.5px);
      height: calc(100% - 7.5px);
      */
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 0;
  
    background: hsl(233 12% 13% / 1) padding-box;
    background: linear-gradient(
        to bottom,
        hsl(228 5% 20% / 1),
        hsl(228 4% 25% / 1)
      )
      padding-box;
    border: 1px solid hsl(210 14% 9% / 60%);
  
    border-radius: var(--buttonBorderRadiusBefore);
    z-index: -1;
  }
  
  

.footer {
    position: absolute;
    width: 100%;
    background-color: black;
    color: #F23580;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    box-shadow: 0px 7px 58px 20px #00bff0ad;
}


/* Style for the left-side links */
.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Style for individual links */
.footer-links a {
    color: #F23580;
    text-decoration: none;
    margin-right: 20px;
    transition: text-decoration 0.3s; /* Add a smooth transition effect */
}
.footer-links a:hover {
    text-decoration: underline; /* Underline the link on hover */
    color: #00BFF0; /* Change the link color on hover */
}
/* Style for the image on the right side */
.footer-image {
    max-width: 180px;
}
.footer-image p {
    color: grey;
    font-size: 12px;
  
}
}
@media (min-width:430px) {
    .img1flat {
        margin-top: -146px;
    }
    
}

 
 @media  (min-width:576px)   {
    .hero-container {
        margin-top: 16%;
        position: relative;
        width: 100%;
    }
    
    .hero-container img {
        margin-top: -84px;
        width: 100%;
    }


   
     
        .resume-title {
          color: #F23580;
                font-weight: 500;
                font-size: 1.6rem;
                text-align: center;
            }
        
      
       
   
    .resume-image {
        border-radius: 16px;
    }
    .about-section-title{
       color: #F23580;
            font-weight: 500;
            font-size: 1.3rem;
      
    }
    .jumbotron-title {
        font-weight: 300;
        font-family: 'Verdana Pro', sans-serif;
        font-size: 3.2rem;
        color: white;
    }
   .col-md-6 {max-width: 50%;}
   .img1flat {
    margin-top: -212px;
}

   
   
    

}
    
        
    
     @media (min-width:768px)  {
      
        .hero-container {
            margin-top: 10%;
            position: relative;
            width: 100%;
        }
        .hero-container img {
            margin-top: -135px;
            width: 100%;
        }
        .h3,h3 {
            font-size: 3rem;
        }
        .img-1 {
            margin-top: -89px;
            z-index: 4;
        }
        .about-section-text {
            margin-left: auto;
          
            font-size: 1rem;
            border-radius: 16px;
            padding: 5%;
            background-color: white;
        }
        .col-md-6 {
            width: 50%;
        }
    
        .col-md-8 img {
            margin-top: 6%;
        }
       
        #contact {
            padding-bottom: 20%;
            margin-top: 38%;
            background-color: black;
            /* padding: 40px; */
            color: white;
        }
        .img1flat {
            margin-top: -288px;
        }
        
        
            }
        
        

    @media  (min-width:992px)  {
        .navbar-expand-lg .navbar-collapse {
            display: -ms-flexbox!important;
            display: flex!important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            flex-direction: row;
            justify-content: flex-end;
        }
        body {
            margin: 0;
            /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
          
        
        background-color: black;
        } 
          
          
        .hero-container {
            margin-top: 14%;
            position: relative;
            width: 100%;
        } 


        .hero-container img {
            margin-top: -226px;
        }
.h3, h3 {
    font-weight: 300;
    font-size: 5rem;
}

.gem-section {
    
    position: relative;
    z-index: -1;
}

 

  
        
      
        .resume-title {
          color: #F23580;
                font-weight: 500;
                font-size: 1.6rem;
                text-align: center;
            }
        
      
 
    .img-1 {
        margin-top: -112px;
        /* margin-top: 2%; */
        z-index: 4;
    }
    .img1flat {
        margin-top: -358px;
    }
   
    .about-img {
   
        margin-right: auto;
        margin-left: auto;
       
    
}
    .col-md-6.about-me-col {
        margin-top: 14%;
        border-radius: 16px;
        width: 50%;
        background-color: white;
        /* padding: 4%; */
        font-size: 1.1rem;
        width: 50%;
        background-color: white;
    }
    .col-md-6 p {
        font-size: 1.2rem;
        color: white;
        padding: 6%;
    }
    .about-section-text {
      width: 100%;
        margin-top: 0;
        font-size: 1.1rem;
        border-radius: 1.3rem;
        padding: 5%;
        background-color: white;
    }
    .about-img img{
        width: 100%;
    }  
  
  
            .resume-image {
                border-radius: 16px;
            }
            .img-1 {
                margin-top: -30px;
                /* margin-top: 2%; */
                z-index: 4;
            }
     
     
        }
       
        
                
           
          

          
            
          
 
   